Repository nl-design-system/example: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint, markdownlint, eslint, stylelint

refactor: move stencil components to packages/
  .eslintrc.json
  components/tsconfig.json
  packages/web-components-stencil/package.json
  packages/web-components-stencil/src/button/index.scss
  packages/web-components-stencil/src/button/stencil.tsx
  packages/web-components-stencil/tsconfig.jest.json
  packages/web-components-stencil/tsconfig.json
  packages/web-components-stencil/tsconfig.stencil.json
  pnpm-lock.yaml
Due: npmPkgJsonLint, eslint

chore: update StyleDictionary config
  proprietary/design-tokens/style-dictionary.config.json
Due: none

chore: remove ignore rules for npm updates
  .github/dependabot.yml
  .ncurc.major.js
  .ncurc.minor.js
  .ncurc.patch.js
Due: eslint

Deploying to gh-pages from @ nl-design-system/example@1f1dbc3ad07506c87d5c7ab0da10ee89e065b9cb 🚀
  iframe.html
  main.13272e5b.iframe.bundle.js
  main.53a198d3.iframe.bundle.js
  project.json
Due: eslint

Update README
  README.md
Due: markdownlint

Change `npm install` to `pnpm install`
  package.json
Due: npmPkgJsonLint

Deploying to gh-pages from @ nl-design-system/example@a851f0cacefc3dc64f6e09fa5e7b85f432983f25 🚀
  iframe.html
  main.53a198d3.iframe.bundle.js
  main.cda8d0e5.iframe.bundle.js
  project.json
Due: eslint

build: install patch updates
  components/package.json
  documentation/package.json
  package.json
  packages/storybook/package.json
  packages/web-components-react/package.json
  packages/web-components-stencil/package.json
  pnpm-lock.yaml
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint

build: install minor updates
  components/package.json
  documentation/package.json
  package.json
  packages/storybook/package.json
  packages/web-components-react/package.json
  packages/web-components-stencil/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

build: update to Node 18
  .github/workflows/continuous-deployment.yml
  .nvmrc
  package.json
  packages/web-components-react/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

refactor: migrate to Stencil 3
  packages/storybook/config/preview.js
  packages/web-components-stencil/package.json
  packages/web-components-stencil/stencil.config.ts
Due: npmPkgJsonLint, eslint

refactor: migrate stories from MDX to CSF3 in TypeScript
  components/button/bem.stories.mdx
  components/button/stencil.stories.mdx
  packages/storybook/config/main.js
  packages/storybook/src/bem.stories.tsx
  packages/storybook/src/stencil.stories.tsx
Due: eslint

build: upgrade major versions for everything except MDX
  .ncurc.major.js
  package.json
  packages/storybook/package.json
  packages/web-components-react/package.json
  packages/web-components-stencil/package.json
  pnpm-lock.yaml
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint, eslint

build: support TypeScript in Storybook
  .eslintrc.json
  packages/storybook/tsconfig.json
  packages/web-components-stencil/package.json
  packages/web-components-stencil/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Due: npmPkgJsonLint

build: move CSS components to packages/
  package.json
  packages/components-css/.gitignore
  packages/components-css/button/README.md
  packages/components-css/button/index.scss
  packages/components-css/package.json
  packages/storybook/config/main.js
  packages/storybook/package.json
  packages/storybook/src/bem.stories.tsx
  packages/storybook/src/stencil.stories.tsx
  packages/web-components-stencil/package.json
  packages/web-components-stencil/src/button/index.scss
  pnpm-lock.yaml
Due: npmPkgJsonLint, markdownlint, eslint

Deploying to gh-pages from @ nl-design-system/example@75c6682f5d60c4b76a306b48cdbeb3e3b3de4c5b 🚀
  131.2626faae.iframe.bundle.js
  246.de8e28a0.iframe.bundle.js
  246.de8e28a0.iframe.bundle.js.LICENSE.txt
  251.befbbb6a.iframe.bundle.js
  503.635b923f.iframe.bundle.js
  503.a755c734.iframe.bundle.js
  503.a755c734.iframe.bundle.js.LICENSE.txt
  810.f4aa069b.iframe.bundle.js
  810.f4aa069b.iframe.bundle.js.LICENSE.txt
  964.f069a9f7.iframe.bundle.js
  iframe.html
  main.713ff642.iframe.bundle.js
  main.713ff642.iframe.bundle.js.LICENSE.txt
  main.beed3d40.iframe.bundle.js
  polyfills-core-js.9de8fdc4.iframe.bundle.js
  polyfills-dom.2063bba8.iframe.bundle.js
  polyfills-dom.2063bba8.iframe.bundle.js.LICENSE.txt
  project.json
  runtime~main.6e370feb.iframe.bundle.js
  runtime~main.a4984310.iframe.bundle.js
  stories.json
Due: eslint

build: patch update npm packages
  documentation/package.json
  package.json
  packages/components-css/package.json
  packages/storybook/package.json
  packages/web-components-react/package.json
  packages/web-components-stencil/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

build: minor updates for packages
  documentation/package.json
  package.json
  packages/components-css/package.json
  packages/storybook/package.json
  packages/web-components-react/package.json
  packages/web-components-stencil/package.json
  pnpm-lock.yaml
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint

ci: ignore stencil generated files in root gitignore
  .gitignore
  packages/components-css/.gitignore
Due: none

Deploying to gh-pages from @ nl-design-system/example@051695065598c41af6a0ddbbcd4a20d7385d4f6a 🚀
  127.c5974e45.iframe.bundle.js
  127.c5974e45.iframe.bundle.js.LICENSE.txt
  131.2626faae.iframe.bundle.js
  324.fe7ed3a0fe9f242dc8d7.manager.bundle.js
  324.fe7ed3a0fe9f242dc8d7.manager.bundle.js.LICENSE.txt
  717.f44c14b0.iframe.bundle.js
  810.f4aa069b.iframe.bundle.js
  976.194ec206f74426087893.manager.bundle.js
  iframe.html
  index.html
  main.1552046e5b37206622dd.manager.bundle.js
  main.713ff642.iframe.bundle.js
  main.746660fe.iframe.bundle.js
  main.746660fe.iframe.bundle.js.LICENSE.txt
  main.c8271825051465389927.manager.bundle.js
  project.json
  runtime~main.30748d65.iframe.bundle.js
  runtime~main.6e370feb.iframe.bundle.js
Due: eslint

ci: rename sysadmin to kernteam-sysadmin
  .github/dependabot.yml
Due: none

Deploying to gh-pages from @ nl-design-system/example@255f39f4dea2a59d28c4c60abf0538f267ee968b 🚀
  iframe.html
  main.746660fe.iframe.bundle.js
  main.d7407093.iframe.bundle.js
  main.d7407093.iframe.bundle.js.LICENSE.txt
  project.json
Due: eslint

Path conditions:
  npmPkgJsonLint: any of: package.json
  markdownlint: any of: *.md
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.css
