Repository nl-design-system/example: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint, markdownlint, eslint, stylelint

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint",
  "*.md": "markdownlint",
  "*.{js,jsx,ts,tsx}": "eslint",
  "*.css": "stylelint"
}

chore: update lock file
  pnpm-lock.yaml
Due: none

chore: removed comment
  apps/next/next.config.ts
Due: eslint

fix: rename DefaultLayout
  apps/next/app/(default)/layout.tsx
Due: eslint

feat: update content homepage
  apps/next/app/(default)/page.tsx
Due: eslint

feat: add Utrecht Root
  apps/next/app/layout.tsx
  apps/next/app/root.css
  apps/next/components/Layout.tsx
  apps/next/package.json
Due: npmPkgJsonLint, eslint, stylelint

feat: import css module utrecht lists
  apps/next/components/OrderedList/OrderedList.tsx
  apps/next/components/UnorderedList/UnorderedList.tsx
  apps/next/package.json
Due: npmPkgJsonLint, eslint

feat: remove use client by updating import path
  apps/next/components/Grid/Grid.tsx
  apps/next/components/LinkList/LinkList.tsx
Due: eslint

fix: remove aria-label from nav due to a11y issues
  apps/next/components/Navbar/Navbar.tsx
Due: eslint

feat: add form page
  apps/next/app/(default)/form/form.css
  apps/next/app/(default)/form/page.tsx
  apps/next/components/Button/Button.tsx
  apps/next/components/Checkbox/Checkbox.tsx
  apps/next/components/ErrorMessage/ErrorMessage.tsx
  apps/next/components/Field/Field.tsx
  apps/next/components/FieldSet/FieldSet.tsx
  apps/next/components/Hint/Hint.tsx
  apps/next/components/Label/Label.tsx
  apps/next/components/Navbar/Navbar.tsx
  apps/next/components/Radio/Radio.tsx
  apps/next/components/Select/Select.tsx
  apps/next/components/Switch/Switch.tsx
  apps/next/components/TextArea/TextArea.tsx
  apps/next/components/TextInput/TextInput.tsx
  apps/next/package.json
Due: npmPkgJsonLint, eslint, stylelint

feat: add spacing to radiobuttons
  apps/next/app/(default)/form/form.css
  apps/next/app/(default)/form/page.tsx
Due: eslint, stylelint

chore: lint fix
  apps/next/package.json
Due: npmPkgJsonLint

chore: update nextjs react and react-dom
  apps/next/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

docs: update readme with why nextjs
  apps/next/README.md
Due: markdownlint

Apply suggestions from code review
  apps/next/README.md
  apps/next/app/(detail)/detail/page.tsx
Due: markdownlint, eslint

feat: stylelint disallow gap
  stylelint.config.mjs
Due: none

feat: replace gaps with more specific gaps
  apps/next/app/(default)/form/form.css
Due: stylelint

Apply suggestion from @Robbert
  apps/next/components/Field/Field.tsx
Due: eslint

fix: use basis tokens
  apps/next/app/(detail)/detail/detail.css
Due: stylelint

feat: add actionGroup
  apps/next/app/(default)/form/page.tsx
  apps/next/components/ActionGroup/ActionGroup.tsx
  apps/next/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint, eslint

feat: replace utrecht button with candidate button
  apps/next/components/Button/Button.tsx
  apps/next/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint, eslint

feat: rename Hint to FormFieldDescription
  apps/next/app/(default)/form/page.tsx
  apps/next/components/FormFieldDescription/FormFieldDescription.tsx
Due: eslint

fix: rename radio to radiobutton
  apps/next/app/(default)/form/page.tsx
  apps/next/app/(default)/page.tsx
  apps/next/components/RadioButton/RadioButton.tsx
Due: eslint

feat: move navItems outside of Navbar
  apps/next/components/Layout.tsx
  apps/next/components/Navbar/Navbar.tsx
Due: eslint

feat: replace element code with component Code
  apps/next/app/(default)/form/page.tsx
  apps/next/app/(default)/page.tsx
  apps/next/app/(detail)/detail/page.tsx
  apps/next/components/Code/Code.tsx
  apps/next/components/CodeBlock/CodeBlock.tsx
  apps/next/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint, eslint

feat: add note component
  apps/next/app/(default)/default.css
  apps/next/app/(default)/page.tsx
  apps/next/components/Note/Note.tsx
  apps/next/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint, eslint, stylelint

feat: add perfectionist group sorting config and apply it
  apps/next/app/(default)/layout.tsx
  apps/next/app/(detail)/layout.tsx
  apps/next/components/PageFooter/PageFooter.tsx
  eslint.config.mjs
  packages/storybook/config/preview.ts
  pnpm-lock.yaml
Due: eslint

feat: add method to form so data doesnt end up in url
  apps/next/app/(default)/form/page.tsx
Due: eslint

fix: move error to be above field
  apps/next/app/(default)/form/page.tsx
Due: eslint

feat: move layout specific implementations from components to layout folder
  apps/next/app/(default)/layout.tsx
  apps/next/app/(detail)/layout.tsx
  apps/next/layout/Layout.tsx
  apps/next/layout/Navbar/Navbar.tsx
  apps/next/layout/PageFooter/PageFooter.tsx
  apps/next/layout/PageHeader/PageHeader.tsx
Due: eslint

docs: update link
  apps/next/README.md
Due: markdownlint

fix: rename Label to FormLabel
  apps/next/app/(default)/form/page.tsx
  apps/next/components/FormLabel/FormLabel.tsx
Due: eslint

feat: replaced radio and fieldset with radioGroup component
  apps/next/app/(default)/default.css
  apps/next/app/(default)/form/form.css
  apps/next/app/(default)/form/page.tsx
  apps/next/components/FieldSet/FieldSet.tsx
  apps/next/components/RadioButton/RadioButton.tsx
  apps/next/components/RadioGroup/RadioGroup.tsx
  apps/next/package.json
Due: npmPkgJsonLint, eslint, stylelint

feat: add utrecht-page-layout class to body
  apps/next/layout/Layout.tsx
  apps/next/package.json
Due: npmPkgJsonLint, eslint

build: restore pnpm pack/pnpm publish behavior to pre-pnpm@11.13 behavior
  .npmignore
Due: none

fix: FormField naming fix
  apps/next/app/(default)/form/page.tsx
  apps/next/components/FormField/FormField.tsx
Due: eslint

feat: update base readme and improve pnpm next setup
  README.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: npmPkgJsonLint, markdownlint

feat: add componentReference to form fields
  apps/next/app/(default)/form/form.css
  apps/next/components/Checkbox/Checkbox.tsx
  apps/next/components/ComponentReference/ComponentReference.tsx
  apps/next/components/RadioGroup/RadioGroup.tsx
  apps/next/components/Switch/Switch.tsx
  apps/next/components/TextArea/TextArea.tsx
  apps/next/components/TextInput/TextInput.tsx
Due: eslint, stylelint

feat: add developer notes pane, piloted on the detail page
  apps/next/app/(detail)/detail/page.tsx
  apps/next/dev-pane/DevNote.tsx
  apps/next/dev-pane/DevPane.tsx
  apps/next/dev-pane/DevPaneContext.tsx
  apps/next/dev-pane/DevPaneProvider.tsx
  apps/next/dev-pane/dev-pane.css
  apps/next/layout/Layout.tsx
Due: eslint, stylelint

feat: add devPane to homepage
  apps/next/app/(default)/page.tsx
Due: eslint

fix: devPane bottom margin
  apps/next/dev-pane/dev-pane.css
Due: stylelint
