Repository nl-design-system/example: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint, markdownlint, eslint, stylelint

upgrade Storybook 6.3
  .storybook/main.js
  package-lock.json
  package.json
Due: npmPkgJsonLint, eslint

build(deps-dev): upgrade to TypeScript 4.1
  package-lock.json
  packages/web-components-react/package.json
Due: npmPkgJsonLint

stencil react
  package-lock.json
  packages/web-components-react/package.json
Due: npmPkgJsonLint

remove mdx-embed Storybook addon
  .storybook/main.js
  components/link/stories.mdx
Due: eslint

stencil
  package-lock.json
  packages/web-components-stencil/package.json
Due: npmPkgJsonLint

build(deps-dev): upgrade to Storybook 6.3.6
  components/button/bem.stories.mdx
  documentation/introduction.stories.mdx
  documentation/license.stories.mdx
  documentation/notice.stories.mdx
  package-lock.json
  package.json
Due: npmPkgJsonLint

ci: latest continuous deployment scripts
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/continuous-deployment.yml
  lerna.json
  package.json
Due: npmPkgJsonLint

build: use exact dependency versions
  .gitignore
  .npmpackagejsonlintrc.json
  .npmrc
  .nvmrc
  components/package-lock.json
  components/package.json
  documentation/package.json
  package-lock.json
  package.json
Due: npmPkgJsonLint

feat: replace example link component with button web component
  components/button/README.md
  components/button/bem.scss
  components/button/bem.stories.mdx
  components/button/stencil.stories.mdx
  components/button/stencil.tsx
  components/link/README.md
  components/link/docs/accessibility-guidelines.md
  components/link/docs/content-guidelines.md
  components/link/index.css
  components/link/stories.mdx
Due: markdownlint, eslint, stylelint

build(deps-dev): remove unused packages
  package-lock.json
  packages/web-components-react/package.json
Due: npmPkgJsonLint

build(deps-dev): upgrade more packages
  package-lock.json
  package.json
  packages/web-components-react/package.json
  packages/web-components-stencil/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint

chore: clean up Storybook config
  .storybook/main.js
  packages/storybook/config/main.js
  packages/storybook/config/manager.js
  packages/storybook/config/preview.js
  packages/storybook/config/theme.js
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint, eslint

stencil build order
  package-lock.json
  packages/web-components-react/package.json
Due: npmPkgJsonLint

config for stencil
  components/.gitignore
  components/tsconfig.json
  packages/web-components-react/.gitignore
  packages/web-components-react/src/index.ts
  packages/web-components-react/tsconfig.json
  packages/web-components-stencil/.gitignore
  packages/web-components-stencil/stencil.config.ts
  packages/web-components-stencil/tsconfig.json
Due: eslint

ci: use latest lint settings
  .eslintignore
  .eslintrc.json
  .prettierignore
  .prettierrc.json
  package-lock.json
  package.json
Due: npmPkgJsonLint

build: migrate to husky 7
  .husky/.gitignore
  .husky/pre-commit
  .huskyrc.json
Due: none

ci: limit Dependabot updates
  .github/dependabot.yml
Due: none

feat: design tokens package
  package-lock.json
  proprietary/design-tokens/LICENSE.md
  proprietary/design-tokens/package.json
  proprietary/design-tokens/src/brand/example/color.style-dictionary.json
  proprietary/design-tokens/src/common/example/focus.style-dictionary.json
  proprietary/design-tokens/src/components/example/link.style-dictionary.json
  proprietary/design-tokens/style-dictionary.config.json
  proprietary/static/brand-design-token.css
  proprietary/static/component-design-token.css
Due: npmPkgJsonLint, markdownlint, stylelint

docs(release): design system packages
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint

ci: upgrade to Node.js 16.13 and npm 8
  .github/workflows/continuous-deployment.yml
  .nvmrc
  package-lock.json
  package.json
Due: npmPkgJsonLint

build: install npm-check-updates
  .ncurc.major.js
  .ncurc.minor.js
  .ncurc.patch.js
  package-lock.json
  package.json
Due: npmPkgJsonLint, eslint

build: install patch updates
  package-lock.json
  package.json
  packages/web-components-react/package.json
  packages/web-components-stencil/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint

build: install minor updates
  package-lock.json
  package.json
  packages/web-components-react/package.json
  packages/web-components-stencil/package.json
Due: npmPkgJsonLint

build: install major updates
  package-lock.json
  package.json
  packages/web-components-react/package.json
Due: npmPkgJsonLint

docs: include "nl-design-system" keyword in package.json
  .npmpackagejsonlintrc.json
  components/package.json
  documentation/package.json
  package.json
  packages/web-components-react/package.json
  packages/web-components-stencil/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint

ci: check package-lock.json during linting
  package.json
Due: npmPkgJsonLint

docs: provide documentation under CC-0 license
  README.md
  components/button/README.md
  documentation/introduction.md
Due: markdownlint

ci: update stylelint config with latest from Utrecht
  .lintstagedrc.json
  .stylelintrc.json
  components/button/bem.scss
  package-lock.json
  package.json
Due: npmPkgJsonLint

chore: lint fixes for ESLint
  .eslintrc.json
  components/button/bem.stories.mdx
  components/button/stencil.stories.mdx
  documentation/introduction.stories.mdx
  documentation/license.stories.mdx
  documentation/notice.stories.mdx
Due: none

ci: update ESLint config with latest from Utrecht
  .eslintrc.js.json
  .eslintrc.json
  .eslintrc.react.json
  package-lock.json
  package.json
  packages/web-components-stencil/tsconfig.stencil.json
Due: npmPkgJsonLint

build: move Storybook to separate package
  components/package.json
  documentation/package.json
  package-lock.json
  package.json
  packages/storybook/package.json
  packages/web-components-react/package.json
Due: npmPkgJsonLint

docs: include EUPL-1.2 license comment in component files
  components/button/bem.scss
  components/button/bem.stories.mdx
  components/button/stencil.stories.mdx
  components/button/stencil.tsx
Due: eslint

Path conditions:
  npmPkgJsonLint: any of: package.json
  markdownlint: any of: *.md
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.css
