Repository nl-design-system/example: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint, markdownlint, eslint, stylelint

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint",
  "*.md": "markdownlint",
  "*.{js,jsx,ts,tsx}": "eslint",
  "*.css": "stylelint"
}

chore: updating packages
  .npmrc
  documentation/introduction.md
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint, markdownlint

chore: upgrade to storybook 7
  .eslintignore
  README.md
  documentation/introduction.stories.mdx
  documentation/license.stories.mdx
  documentation/notice.stories.mdx
  documentation/package.json
  packages/components-css/package.json
  packages/storybook/.babelrc.json
  packages/storybook/config/main.tsx
  packages/storybook/config/preview.tsx
  packages/storybook/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint, markdownlint, eslint

chore: use vite instead of webpack as compiler
  .eslintignore
  documentation/introduction.stories.mdx
  documentation/license.stories.mdx
  documentation/notice.stories.mdx
  packages/storybook/config/main.tsx
  packages/storybook/package.json
  packages/storybook/src/bem.stories.tsx
  packages/storybook/src/stencil.stories.tsx
  packages/storybook/vite.config.ts
  pnpm-lock.yaml
Due: npmPkgJsonLint, eslint

chore: move documentation directory to packages
  package.json
  packages/documentation/introduction.md
  packages/documentation/introduction.stories.mdx
  packages/documentation/license.stories.mdx
  packages/documentation/notice.stories.mdx
  packages/documentation/package.json
  packages/storybook/config/main.tsx
  packages/storybook/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: npmPkgJsonLint, markdownlint, eslint

chore: update dutch code of conduct to 2.0
  CODE_OF_CONDUCT.nl.md
Due: markdownlint

chore: add components-react package
  .eslintignore
  .eslintrc.json
  jest.config.mjs
  packages/components-react/jest.config.mjs
  packages/components-react/package.json
  packages/components-react/rollup.config.mjs
  packages/components-react/src/Button.test.tsx
  packages/components-react/src/Button.tsx
  packages/components-react/src/index.ts
  packages/components-react/tsconfig.json
  packages/components-react/tsconfig.test.json
  packages/components-react/vite.config.ts
  packages/storybook/.babelrc.json
  packages/storybook/src/button.stories.tsx
  packages/web-components-react/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Due: npmPkgJsonLint, eslint

feat: add sparkle effect to button
  jest.config.mjs
  packages/components-react/package.json
  packages/components-react/src/Button.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint, eslint

docs: add contact info to code of conduct
  CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.nl.md
Due: markdownlint

chore: fix lint issue in Markdown file
  documentation/introduction.md
Due: markdownlint

Deploying to gh-pages from @ nl-design-system/example@952fd3792336aaf913b7eb1e705295770d4f7f83 🚀
  iframe.html
  main.1ba3da76.iframe.bundle.js
  main.1ba3da76.iframe.bundle.js.LICENSE.txt
  main.d7407093.iframe.bundle.js
  project.json
Due: eslint

chore: upgrade to storybook 7
  README.md
  documentation/introduction.stories.mdx
  documentation/license.stories.mdx
  documentation/notice.stories.mdx
  documentation/package.json
  packages/components-css/package.json
  packages/storybook/.babelrc.json
  packages/storybook/config/main.tsx
  packages/storybook/config/preview.tsx
  packages/storybook/package.json
  packages/storybook/tsconfig.json
  pnpm-lock.yaml
Due: npmPkgJsonLint, markdownlint, eslint

chore: use vite instead of webpack as compiler
  documentation/introduction.stories.mdx
  documentation/license.stories.mdx
  documentation/notice.stories.mdx
  packages/storybook/config/main.tsx
  packages/storybook/package.json
  packages/storybook/src/bem.stories.tsx
  packages/storybook/src/stencil.stories.tsx
  packages/storybook/tsconfig.json
  packages/storybook/vite.config.ts
  pnpm-lock.yaml
Due: npmPkgJsonLint, eslint

chore: move documentation directory to packages
  documentation/package.json
  package.json
  packages/storybook/config/main.tsx
  packages/storybook/package.json
  packages/storybook/src/documentation/introduction.md
  packages/storybook/src/documentation/introduction.stories.mdx
  packages/storybook/src/documentation/license.stories.mdx
  packages/storybook/src/documentation/notice.stories.mdx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: npmPkgJsonLint, markdownlint, eslint

fixup! chore: move documentation directory to packages
  packages/storybook/config/main.tsx
  packages/storybook/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint, eslint

chore: move documentation directory to packages (#611)
  documentation/package.json
  package.json
  packages/storybook/config/main.tsx
  packages/storybook/package.json
  packages/storybook/src/documentation/introduction.md
  packages/storybook/src/documentation/introduction.stories.mdx
  packages/storybook/src/documentation/license.stories.mdx
  packages/storybook/src/documentation/notice.stories.mdx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: npmPkgJsonLint, markdownlint, eslint

chore: add components-react package
  .eslintrc.json
  packages/components-react/.eslintrc.json
  packages/components-react/jest.config.mjs
  packages/components-react/package.json
  packages/components-react/rollup.config.mjs
  packages/components-react/src/Button.test.tsx
  packages/components-react/src/Button.tsx
  packages/components-react/src/index.ts
  packages/components-react/tsconfig.json
  packages/components-react/tsconfig.test.json
  packages/components-react/vite.config.ts
  packages/storybook/.babelrc.json
  packages/storybook/src/button.stories.tsx
  packages/web-components-react/package.json
  packages/web-components-stencil/package.json
  pnpm-lock.yaml
  tsconfig.json
Due: npmPkgJsonLint, eslint

refactor: build button component more like existing components
  packages/components-react/package.json
  packages/components-react/rollup.config.mjs
  packages/components-react/src/Button.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint, eslint

build: update minor versions
  package.json
  packages/components-css/package.json
  packages/components-react/package.json
  packages/storybook/package.json
  packages/web-components-react/package.json
  packages/web-components-stencil/package.json
  pnpm-lock.yaml
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint

build: major upgrade to latest Stencil
  packages/web-components-stencil/.gitignore
  packages/web-components-stencil/package.json
  packages/web-components-stencil/stencil.config.ts
  pnpm-lock.yaml
Due: npmPkgJsonLint, eslint

build: install major upgrades
  package.json
  packages/components-css/package.json
  packages/components-react/package.json
  packages/storybook/package.json
  packages/web-components-react/package.json
  packages/web-components-stencil/package.json
  pnpm-lock.yaml
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint

build: upgrade to Node 20 (LTS)
  .github/workflows/continuous-deployment.yml
  .nvmrc
  package.json
Due: npmPkgJsonLint
