Repository nl-design-system/example: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint, markdownlint, eslint, stylelint

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint",
  "*.md": "markdownlint",
  "*.{js,jsx,ts,tsx}": "eslint",
  "*.css": "stylelint"
}

Deploying to gh-pages from @ nl-design-system/example@f0ca0a5fb9acdfd2baa5b485af0d7ad644591d58 🚀
  assets/Color-6VNJS4EI-DhXJINAP.js
  assets/Color-6VNJS4EI-Duz03fax.js
  assets/DocsRenderer-NNNQARDV-Dj_pOIkd.js
  assets/DocsRenderer-NNNQARDV-pkCkQVY1.js
  assets/WithTooltip-V3YHNWJZ-CMWRFcDB.js
  assets/WithTooltip-V3YHNWJZ-CyTp6St3.js
  assets/chunk-HLWAVYOI-Co6oJ2ul.js
  assets/example-button.entry-CSUVJa7B.js
  assets/example-button.entry-CwdWZBrV.js
  assets/formatter-SWP5E3XI-ci77hbMK.js
  assets/iframe-BYE7PmHL.js
  assets/iframe-CQtj9mxJ.js
  assets/introduction.stories-aNLmgwlx.js
  assets/license.stories-BuU2k2dT.js
  assets/notice.stories-BlPimGYD.js
  assets/preview-D6bm5xEn.js
  assets/preview-DBZ52ydK.js
  assets/preview-Mg6hhII6.js
  assets/preview-mkJFpEzs.js
  assets/syntaxhighlighter-B5GMVT5T--375lUUY.js
  assets/syntaxhighlighter-B5GMVT5T-BgT4iOz8.js
  iframe.html
  project.json
Due: eslint

build: bump Storybook to v8
  .ncurc.major.cjs
  packages/storybook/config/ParametersArgsDecorator.tsx
  packages/storybook/config/main.ts
  packages/storybook/config/main.tsx
  packages/storybook/config/preview.ts
  packages/storybook/config/preview.tsx
  packages/storybook/package.json
  packages/storybook/src/documentation/introduction.mdx
  packages/storybook/src/documentation/license.mdx
  packages/storybook/src/documentation/notice.mdx
  packages/storybook/tsconfig.json
  packages/storybook/vite.config.ts
  pnpm-lock.yaml
Due: npmPkgJsonLint, eslint

build: patch round 2024-05
  package.json
  packages/components-react/package.json
  packages/storybook/package.json
  packages/web-components-react/package.json
  packages/web-components-stencil/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

build: bump pnpm version to v9
  .github/workflows/continuous-deployment.yml
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

Deploying to gh-pages from @ nl-design-system/example@3756460d522dc7191002ebe29c2d444e870caeda 🚀
  project.json
Due: none

build: update GitHub Actions
  .github/workflows/continuous-deployment.yml
Due: none

build: disable publishing
  .github/workflows/continuous-deployment.yml
Due: none

build: patch round 2024-06
  .husky/pre-commit
  .ncurc.major.cjs
  package.json
  packages/components-react/package.json
  packages/storybook/config/main.ts
  packages/storybook/config/preview.ts
  packages/storybook/package.json
  packages/web-components-react/package.json
  packages/web-components-stencil/package.json
  pnpm-lock.yaml
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint, eslint

fix: dependabot config
  .github/dependabot.yml
Due: none

build: group dependabot's storybook PRs
  .github/dependabot.yml
Due: none

build: align editorconfig and prettier
  .editorconfig
  .prettierrc.json
  packages/components-react/jest.config.mjs
  packages/components-react/rollup.config.mjs
  packages/storybook/src/documentation/introduction.mdx
  packages/storybook/src/documentation/license.mdx
  packages/storybook/src/documentation/notice.mdx
  prettier.config.cjs
Due: none

build: patch round 2024-07
  .ncurc.major.cjs
  package.json
  packages/components-react/package.json
  packages/storybook/package.json
  packages/web-components-react/package.json
  packages/web-components-stencil/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

chore: update npm-package-json-lint config
  .npmpackagejsonlintrc.json
  npmpackagejsonlint.config.cjs
  package.json
  packages/components-css/package.json
  packages/components-react/package.json
  packages/storybook/package.json
  packages/web-components-react/package.json
  packages/web-components-stencil/package.json
  proprietary/.npmpackagejsonlintrc.json
  proprietary/LICENSE.md
  proprietary/assets/package.json
  proprietary/design-tokens/package.json
  proprietary/font/package.json
Due: npmPkgJsonLint, markdownlint

build: patch round 2024-08
  package.json
  packages/components-react/package.json
  packages/storybook/package.json
  packages/web-components-react/package.json
  packages/web-components-stencil/package.json
  pnpm-lock.yaml
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint

chore: update lint-staged config
  .lintstagedrc.json
  .prettierignore
  lint-staged.config.cjs
Due: none

build: update dependencies
  package.json
  packages/components-react/package.json
  packages/storybook/package.json
  packages/web-components-react/package.json
  packages/web-components-stencil/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

chore: remove "version" from Storybook package
  packages/storybook/package.json
Due: npmPkgJsonLint

build: setup changesets
  .changeset/README.md
  .changeset/config.json
  .github/workflows/continuous-deployment.yml
  lerna.json
  package.json
  pnpm-lock.yaml
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint, markdownlint

fix: lint-staged config
  .prettierignore
  lint-staged.config.cjs
Due: none

build: patch round 2024-09
  package.json
  packages/components-react/package.json
  packages/storybook/package.json
  packages/web-components-react/.gitignore
  packages/web-components-react/package.json
  packages/web-components-react/src/index.ts
  packages/web-components-react/tsconfig.json
  packages/web-components-stencil/package.json
  packages/web-components-stencil/stencil.config.ts
  pnpm-lock.yaml
Due: npmPkgJsonLint, eslint

build: update ESLint to v9
  .eslintignore
  .eslintrc.js.json
  .eslintrc.json
  .eslintrc.react.json
  eslint.config.mjs
  eslint.rules.mjs
  package.json
  packages/components-react/rollup.config.mjs
  packages/storybook/src/css-button.stories.tsx
  packages/storybook/src/web-component-button.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint, eslint
