Repository nl-design-system/example: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint, markdownlint, eslint, stylelint

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint",
  "*.md": "markdownlint",
  "*.{js,jsx,ts,tsx}": "eslint",
  "*.css": "stylelint"
}

ci: setup zizmor
  .github/workflows/zizmor.yml
Due: none

chore: migrate to pnpm 11
  .npmrc
  package.json
  pnpm-workspace.yaml
Due: npmPkgJsonLint

chore: remove workaround for npm audit endpoint (no longer needed with pnpm 11 as the default package manager)
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/publish.yml
Due: none

ci: setup CODEOWNERS file
  .github/CODEOWNERS
Due: none

chore: upgrade npm-check-updates to 22
  .ncurc.major.mjs
  .ncurc.minor.mjs
  .ncurc.patch.mjs
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

chore: upgrade rollup
  packages/components-react/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

chore: upgrade stylelint
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

chore: convert stylelint config to MJS and align with utrecht
  .stylelintrc.json
  stylelint.config.mjs
Due: none

chore: add stylelint-use-logical
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

chore: fix lint issue
  packages/components-css/button/index.scss
Due: none

chore: upgrade prettier
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

chore: upgrade vite
  .ncurc.major.mjs
  packages/components-react/package.json
  packages/storybook/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

chore: widen patterns and ignore files
  stylelint.config.mjs
Due: none

chore: downgrade @vitejs/plugin-react (requires vite v8)
  .ncurc.major.mjs
  packages/components-react/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

docs: explain why certain keywords are ignored
  stylelint.config.mjs
Due: none

chore: configure dependabot groups
  .github/dependabot.yml
Due: none

feat: add nextjs package
  .gitignore
  eslint.config.mjs
  packages/nextjs/app/globals.css
  packages/nextjs/app/layout.tsx
  packages/nextjs/app/page.tsx
  packages/nextjs/app/theme.css
  packages/nextjs/components/Button/Button.tsx
  packages/nextjs/components/Heading/Heading.tsx
  packages/nextjs/components/Link/Link.tsx
  packages/nextjs/components/Paragraph/Paragraph.tsx
  packages/nextjs/components/SkipLink/SkipLink.tsx
  packages/nextjs/next-env.d.ts
  packages/nextjs/next.config.ts
  packages/nextjs/package.json
  packages/nextjs/stylelint.config.mjs
  packages/nextjs/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  prettier.config.mjs
Due: npmPkgJsonLint, eslint, stylelint

fix: revert components export .. from
  packages/nextjs/components/Button/Button.tsx
  packages/nextjs/components/Heading/Heading.tsx
  packages/nextjs/components/Link/Link.tsx
  packages/nextjs/components/Paragraph/Paragraph.tsx
  packages/nextjs/components/SkipLink/SkipLink.tsx
Due: eslint

fix: remove unneeded linting packages from nextjs package
  packages/nextjs/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

chore: upgrade tar to 7.5.19 (resolves GHSA-23hp-3jrh-7fpw)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

feat: add PageBody and PageFooter
  packages/nextjs/app/globals.css
  packages/nextjs/app/layout.tsx
  packages/nextjs/app/theme.css
  packages/nextjs/components/PageBody/PageBody.tsx
  packages/nextjs/components/PageFooter/PageFooter.tsx
  packages/nextjs/components/PageHeader/PageHeader.tsx
  packages/nextjs/components/PageHeader/page-header.css
  packages/nextjs/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint, eslint, stylelint

chore: upgrade pnpm to 11.15.1
  package.json
Due: npmPkgJsonLint

fix: remove duplicate styleLint config
  packages/nextjs/package.json
  packages/nextjs/stylelint.config.mjs
  pnpm-lock.yaml
Due: npmPkgJsonLint

feat: update homepage with content
  packages/nextjs/app/layout.tsx
  packages/nextjs/app/page.tsx
  packages/nextjs/components/Alert/Alert.tsx
  packages/nextjs/components/Button/Button.tsx
  packages/nextjs/components/CodeBlock/CodeBlock.tsx
  packages/nextjs/components/Grid/Grid.tsx
  packages/nextjs/components/LinkList/LinkList.tsx
  packages/nextjs/components/OrderedList/OrderedList.tsx
  packages/nextjs/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint, eslint

chore: update @types/node to v24
  packages/nextjs/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

chore: remove unneeded global css
  packages/nextjs/app/globals.css
  packages/nextjs/app/layout.tsx
Due: eslint, stylelint
