Repository nl-design-system/example: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint, markdownlint, eslint, stylelint

Update packages/nextjs/package.json
  packages/nextjs/package.json
Due: npmPkgJsonLint

chore: remove next-env.d.ts
  packages/nextjs/next-env.d.ts
Due: eslint

chore: add next-env.d.ts to gitignore
  .gitignore
Due: none

feat: add footer and logo
  packages/nextjs/app/layout.css
  packages/nextjs/app/layout.tsx
  packages/nextjs/components/Logo.tsx
  packages/nextjs/components/PageFooter/PageFooter.tsx
  packages/nextjs/components/PageFooter/page-footer.css
  packages/nextjs/components/PageHeader/page-header.css
Due: eslint, stylelint

chore: move vercel configuration to vercel.json
  vercel.json
Due: none

ci: prefer vercel.json inside the package dir and prefer git.deploymentEnabled to turn off dependabot/gh-pages
  packages/storybook/vercel.json
  vercel.json
Due: none

feat: add distDir nextjs config and cleanup old .next references
  .gitignore
  eslint.config.mjs
  packages/nextjs/next.config.ts
  packages/nextjs/tsconfig.json
  stylelint.config.mjs
Due: eslint

fix: remove unrs-resolver from allowBuilds pnpm workspace
  pnpm-workspace.yaml
Due: none

fix: grid cell span all
  packages/nextjs/app/page.tsx
Due: eslint

ci: use "Other" as framework preset
  packages/storybook/vercel.json
Due: none

feat: replace ma-theme with start-theme design tokens
  packages/nextjs/app/layout.tsx
  packages/nextjs/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint, eslint

feat: update content homepage
  packages/nextjs/app/page.tsx
Due: eslint

fix: move codeblock out of paragraph
  packages/nextjs/app/page.tsx
Due: eslint

chore: remove comments from tsconfig
  packages/nextjs/tsconfig.json
Due: none

chore: remove eslint config for jsonc
  eslint.config.mjs
Due: none

feat: add detailpage and add navbar
  packages/nextjs/app/(default)/layout.tsx
  packages/nextjs/app/(default)/page.tsx
  packages/nextjs/app/(detail)/detail/detail.css
  packages/nextjs/app/(detail)/detail/page.tsx
  packages/nextjs/app/(detail)/layout.tsx
  packages/nextjs/components/Layout.tsx
  packages/nextjs/components/Navbar/Navbar.tsx
  packages/nextjs/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint, eslint, stylelint

feat: update detail page content
  packages/nextjs/app/(detail)/detail/page.tsx
Due: eslint

feat: move css vars utrecht-page-header to layout.css
  packages/nextjs/app/layout.css
  packages/nextjs/components/Layout.tsx
  packages/nextjs/components/Navbar/Navbar.tsx
  packages/nextjs/components/PageHeader/PageHeader.tsx
  packages/nextjs/components/PageHeader/page-header.css
  stylelint.config.mjs
Due: eslint, stylelint

feat: replace utrecht-nav-bar with rijkshuisstijl-community/navigation-bar-react
  packages/nextjs/app/(detail)/detail/detail.css
  packages/nextjs/app/(detail)/layout.tsx
  packages/nextjs/components/Navbar/Navbar.tsx
  packages/nextjs/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint, eslint, stylelint

feat: add css vars for navbar homepage
  packages/nextjs/app/(detail)/layout.tsx
  packages/nextjs/app/layout.css
  packages/nextjs/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint, eslint, stylelint

feat: add unoderedList component
  packages/nextjs/components/UnorderedList/UnorderedList.tsx
  packages/nextjs/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint, eslint

feat: update content
  packages/nextjs/app/(default)/page.tsx
  packages/nextjs/app/(detail)/detail/page.tsx
Due: eslint

feat: move nextjs project to apps folder and rename to next
  apps/next/app/layout.css
  apps/next/app/layout.tsx
  apps/next/app/page.tsx
  apps/next/components/Alert/Alert.tsx
  apps/next/components/CodeBlock/CodeBlock.tsx
  apps/next/components/Grid/Grid.tsx
  apps/next/components/Heading/Heading.tsx
  apps/next/components/Link/Link.tsx
  apps/next/components/LinkList/LinkList.tsx
  apps/next/components/Logo.tsx
  apps/next/components/OrderedList/OrderedList.tsx
  apps/next/components/PageBody/PageBody.tsx
  apps/next/components/PageFooter/PageFooter.tsx
  apps/next/components/PageFooter/page-footer.css
  apps/next/components/PageHeader/PageHeader.tsx
  apps/next/components/PageHeader/page-header.css
  apps/next/components/Paragraph/Paragraph.tsx
  apps/next/components/SkipLink/SkipLink.tsx
  apps/next/next.config.ts
  apps/next/package.json
  apps/next/tsconfig.json
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint, eslint, stylelint

fix: replace ReactNode with PropsWithChildren
  apps/next/app/layout.tsx
Due: eslint

feat: update title
  apps/next/app/layout.tsx
Due: eslint

feat: add clean script and cleanup scripts
  apps/next/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

chore: configure prettier to format pnpm-workspace.yaml the same as pnpm CLI does
  .prettierignore
  prettier.config.mjs
Due: none

feat: restructure layouts
  apps/next/app/(default)/default.css
  apps/next/app/(default)/layout.tsx
  apps/next/app/(detail)/layout.tsx
  apps/next/app/layout.tsx
  apps/next/app/root.css
  apps/next/components/PageFooter/PageFooter.tsx
  apps/next/components/PageFooter/page-footer.css
Due: eslint, stylelint

fix: remove link from footer logo
  apps/next/components/PageFooter/PageFooter.tsx
Due: eslint

fix: remove inverse color from footer
  apps/next/app/(default)/default.css
  apps/next/app/(detail)/detail/detail.css
  apps/next/components/PageFooter/PageFooter.tsx
Due: eslint, stylelint

fix: footer cells span all
  apps/next/components/PageFooter/PageFooter.tsx
Due: eslint

feat: add detail page to next steps
  apps/next/app/(default)/page.tsx
Due: eslint

feat: add next readme
  apps/next/README.md
Due: markdownlint

feat: update package name to @example/next
  apps/next/package.json
Due: npmPkgJsonLint

feat: rename next package to @example/next
  apps/next/package.json
Due: npmPkgJsonLint

chore: removed comment
  apps/next/next.config.ts
Due: eslint

Path conditions:
  npmPkgJsonLint: any of: package.json
  markdownlint: any of: *.md
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.css
