Repository nl-design-system/example: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint, markdownlint, eslint, stylelint

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint",
  "*.md": "markdownlint",
  "*.{js,jsx,ts,tsx}": "eslint",
  "*.css": "stylelint"
}

Deploying to gh-pages from @ nl-design-system/example@4a9ad7850df873fc231a8a3458fae79d83a4ad6e 🚀
  iframe.html
  main.50fe5407.iframe.bundle.js
  main.f27c1060.iframe.bundle.js
Due: eslint

build: update react and react-dom to version 17
  .ncurc.major.js
  package-lock.json
  packages/storybook/package.json
  packages/web-components-react/package.json
Due: npmPkgJsonLint, eslint

Deploying to gh-pages from @ nl-design-system/example@4b5ab084009d80c4de531e5a2436ddf7d2723fcb 🚀
  iframe.html
  main.13efa3f7.iframe.bundle.js
  main.f27c1060.iframe.bundle.js
Due: eslint

Deploying to gh-pages from @ nl-design-system/example@21e840017ff182359181f06ed721da8e894422c2 🚀
  iframe.html
  main.13efa3f7.iframe.bundle.js
  main.8140a221.iframe.bundle.js
Due: eslint

Deploying to gh-pages from @ nl-design-system/example@3d0c1f7af66f0592de4d8dc680ca868672441568 🚀
  iframe.html
  main.3ca8d5a9.iframe.bundle.js
  main.8140a221.iframe.bundle.js
Due: eslint

ci: specify LF as line ending in Git
  .gitattributes
Due: none

Deploying to gh-pages from @ nl-design-system/example@2c81077284bc6eb20375a2dec1fc51c230521d7c 🚀
  iframe.html
  main.3ca8d5a9.iframe.bundle.js
  main.e74f737f.iframe.bundle.js
Due: eslint

ci: use github organisation token
  .github/workflows/continuous-deployment.yml
Due: none

build: install minor updates
  components/package.json
  documentation/package.json
  package-lock.json
  package.json
  packages/storybook/package.json
  packages/web-components-react/package.json
  packages/web-components-stencil/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint

fixup! build: install minor updates
  package-lock.json
  package.json
  packages/web-components-stencil/package.json
Due: npmPkgJsonLint

WIP
  .npmrc
  components/tsconfig.json
  package-lock.json
  package.json
  packages/storybook/.storybook/main.js
  packages/storybook/.storybook/preview.js
  packages/storybook/config/main.js
  packages/storybook/config/preview.js
  packages/storybook/package.json
  packages/storybook/src/example.stories.mdx
  packages/storybook/src/stories/Button.stories.tsx
  packages/storybook/src/stories/Button.tsx
  packages/storybook/src/stories/Header.stories.tsx
  packages/storybook/src/stories/Header.tsx
  packages/storybook/src/stories/Introduction.stories.mdx
  packages/storybook/src/stories/Page.stories.tsx
  packages/storybook/src/stories/Page.tsx
  packages/storybook/src/stories/assets/code-brackets.svg
  packages/storybook/src/stories/assets/colors.svg
  packages/storybook/src/stories/assets/comments.svg
  packages/storybook/src/stories/assets/direction.svg
  packages/storybook/src/stories/assets/flow.svg
  packages/storybook/src/stories/assets/plugin.svg
  packages/storybook/src/stories/assets/repo.svg
  packages/storybook/src/stories/assets/stackalt.svg
  packages/storybook/src/stories/button.css
  packages/storybook/src/stories/header.css
  packages/storybook/src/stories/page.css
  packages/web-components-react/package.json
  packages/web-components-stencil/.gitignore
  packages/web-components-stencil/package.json
  packages/web-components-stencil/src/button/index.scss
  packages/web-components-stencil/src/button/index.stencil.tsx
  packages/web-components-stencil/stencil.config.ts
  packages/web-components-stencil/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: npmPkgJsonLint, eslint, stylelint

chore: remove ignore rules for npm updates
  .github/dependabot.yml
  .ncurc.major.js
  .ncurc.minor.js
  .ncurc.patch.js
Due: eslint

chore: update lint configs
  .eslintrc.json
  .eslintrc.react.json
  .lintstagedrc.json
  .prettierignore
  .prettierrc.json
  .stylelintrc.json
Due: none

chore: update StyleDictionary config
  proprietary/design-tokens/style-dictionary.config.json
Due: none

chore: remove old Storybook config
  packages/storybook/config/main.js
  packages/storybook/config/manager.js
  packages/storybook/config/preview-head.html
  packages/storybook/config/preview.js
  packages/storybook/config/theme.js
  packages/storybook/package.json
Due: npmPkgJsonLint, eslint

build: add storybook package
  packages/storybook/.storybook/main.js
  packages/storybook/.storybook/preview.js
  packages/storybook/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint, eslint

build: switch to pnpm with lerna-lite
  .github/workflows/continuous-deployment.yml
  .npmrc
  components/package.json
  documentation/package.json
  lerna.json
  package-lock.json
  package.json
  packages/storybook/package.json
  packages/web-components-react/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: npmPkgJsonLint

ci: tweak HTML validator linting
  package.json
Due: npmPkgJsonLint

docs: update storybook config
  packages/storybook/.storybook/preview.js
  packages/storybook/config/main.js
  packages/storybook/config/preview-head.html
  packages/storybook/config/preview.js
Due: eslint

refactor: use JSX instead of string templates for stories
  components/button/bem.stories.mdx
  components/button/stencil.stories.mdx
Due: none

feat: add font package
  packages/storybook/package.json
  pnpm-lock.yaml
  proprietary/font/LICENSE.md
  proprietary/font/README.md
  proprietary/font/package.json
  proprietary/font/src/index.scss
Due: npmPkgJsonLint, markdownlint

feat: add assets package
  packages/storybook/package.json
  pnpm-lock.yaml
  proprietary/assets/LICENSE.md
  proprietary/assets/README.md
  proprietary/assets/package.json
  proprietary/assets/src/favicon.svg
Due: npmPkgJsonLint, markdownlint

ci: temporarily deploy this branch
  .github/workflows/continuous-deployment.yml
Due: none

refactor: move stencil components to packages/
  .eslintrc.json
  components/tsconfig.json
  packages/web-components-stencil/package.json
  packages/web-components-stencil/src/button/index.scss
  packages/web-components-stencil/src/button/stencil.tsx
  packages/web-components-stencil/tsconfig.jest.json
  packages/web-components-stencil/tsconfig.json
  packages/web-components-stencil/tsconfig.stencil.json
  pnpm-lock.yaml
Due: npmPkgJsonLint, eslint

Deploying to gh-pages from @ nl-design-system/example@67eea9f430d9072feca71bccdef4335ebaf723d1 🚀
  iframe.html
  main.13272e5b.iframe.bundle.js
  main.fd2641f1.iframe.bundle.js
  project.json
Due: eslint
