Repository nl-design-system/example: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint, markdownlint, eslint, stylelint

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint",
  "*.md": "markdownlint",
  "*.{js,jsx,ts,tsx}": "eslint",
  "*.css": "stylelint"
}

ci: update ESLint config with latest from Utrecht
  .eslintrc.js.json
  .eslintrc.json
  .eslintrc.react.json
  package-lock.json
  package.json
  packages/web-components-stencil/tsconfig.stencil.json
Due: npmPkgJsonLint

docs: include "nl-design-system" keyword in package.json
  .npmpackagejsonlintrc.json
  components/package.json
  documentation/package.json
  package.json
  packages/web-components-react/package.json
  packages/web-components-stencil/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint

ci: check package-lock.json during linting
  package.json
Due: npmPkgJsonLint

build: install minor updates
  package-lock.json
  package.json
  packages/web-components-react/package.json
  packages/web-components-stencil/package.json
Due: npmPkgJsonLint

chore: lint fixes for ESLint
  .eslintrc.json
  components/button/bem.stories.mdx
  components/button/stencil.stories.mdx
  documentation/introduction.stories.mdx
  documentation/license.stories.mdx
  documentation/notice.stories.mdx
Due: none

ci: update stylelint config with latest from Utrecht
  .lintstagedrc.json
  .stylelintrc.json
  components/button/bem.scss
  package-lock.json
  package.json
Due: npmPkgJsonLint

ci: update dependabot and ncurc configurations to match other nlds repos
  .github/dependabot.yml
  .ncurc.major.js
  .ncurc.minor.js
  .ncurc.patch.js
Due: eslint

build: patch update npm packages
  package-lock.json
  package.json
  packages/storybook/package.json
  packages/web-components-react/package.json
Due: npmPkgJsonLint

build: minor update npm packages
  package-lock.json
  package.json
  packages/storybook/package.json
  packages/web-components-stencil/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint

build: major updates npm packages
  package-lock.json
  package.json
Due: npmPkgJsonLint

Deploying to gh-pages from @ nl-design-system/example@ccd34c527be78533b6b4cbb1d73fb86e70e05e62 🚀
  iframe.html
  main.155f9e24.iframe.bundle.js
  main.a8715311.iframe.bundle.js
Due: eslint

build: patch update npm dependencies
  components/package.json
  documentation/package.json
  package-lock.json
  package.json
  packages/storybook/package.json
  packages/web-components-react/package.json
Due: npmPkgJsonLint

build: minor update npm dependencies
  package-lock.json
  package.json
  packages/storybook/package.json
  packages/web-components-stencil/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint

build: major update npm dependencies
  package-lock.json
  package.json
Due: npmPkgJsonLint

refactor: rename design token files from style-dictionary.json to tokens.json
  proprietary/design-tokens/package.json
  proprietary/design-tokens/src/brand/example/color.tokens.json
  proprietary/design-tokens/src/common/example/focus.tokens.json
  proprietary/design-tokens/src/components/example/link.tokens.json
  proprietary/design-tokens/style-dictionary.config.json
Due: npmPkgJsonLint

refactor: rename example link tokens to button tokens
  proprietary/design-tokens/src/components/example/button.tokens.json
  proprietary/design-tokens/src/components/example/link.tokens.json
Due: none

feat: use example button tokens in the example button component and render the outcome in storybook
  components/button/bem.scss
  packages/storybook/config/preview-head.html
  proprietary/design-tokens/src/brand/example/color.tokens.json
Due: none

refactor: remove .value from design token references
  proprietary/design-tokens/src/components/example/button.tokens.json
Due: none

Deploying to gh-pages from @ nl-design-system/example@6fa74726f5d5e402ea587efd7a890a404a481c25 🚀
  iframe.html
  main.83ad1c20.iframe.bundle.js
  main.c487444c.iframe.bundle.js
Due: eslint

build: major update storybook
  .ncurc.minor.js
  components/package.json
  documentation/package.json
  package-lock.json
  package.json
  packages/storybook/package.json
Due: npmPkgJsonLint, eslint

fix: remove deprecated transformSource parameter
  components/button/bem.stories.mdx
  components/button/stencil.stories.mdx
Due: none

docs: remove transformSource from the getting started
  README.md
Due: markdownlint
