Repository nl-design-system/example: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint, markdownlint, eslint, stylelint

chore: upgrade to pnpm@10.30.3
  package.json
Due: npmPkgJsonLint

fix: markdown files were not rendered
  packages/storybook/src/documentation/introduction.mdx
  packages/storybook/src/documentation/license.mdx
  packages/storybook/src/documentation/notice.mdx
Due: none

refactor: replace deprecated sass @import statements with @use
  packages/web-components-stencil/src/button/index.scss
  proprietary/font/src/index.scss
Due: none

chore: upgrade to storybook@10
  package.json
  packages/storybook/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

chore: upgrade to storybook@9
  eslint.config.mjs
  package.json
  packages/storybook/config/ParametersArgsDecorator.tsx
  packages/storybook/config/main.ts
  packages/storybook/config/preview.ts
  packages/storybook/package.json
  packages/storybook/src/css-button.stories.tsx
  packages/storybook/src/react-button.stories.tsx
  packages/storybook/src/web-component-button.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint, eslint

ci: remove GITHUB_TOKEN in changesets step
  .github/workflows/publish.yml
Due: none

ci: in dependabot, group GitHub Actions updates together
  .github/dependabot.yml
Due: none

chore: fix dependabot group
  .github/dependabot.yml
Due: none

ci: revert removal of GH_TOKEN for publishing
  .github/workflows/publish.yml
Due: none

ci: opt in to pnpm v11 for pnpm audit with an environment variable
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/publish.yml
Due: none

chore: upgrade react to 19
  packages/components-react/package.json
  packages/storybook/package.json
  packages/web-components-react/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

fix: update tsconfig after storybook upgrade
  packages/storybook/tsconfig.json
Due: none

build: use `@nl-design-system/tsconfig`
  package.json
  packages/components-react/tsconfig.json
  packages/components-react/tsconfig.test.json
  packages/storybook/tsconfig.json
  packages/web-components-react/tsconfig.json
  packages/web-components-stencil/tsconfig.jest.json
  packages/web-components-stencil/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Due: npmPkgJsonLint

chore: upgrade next
  packages/components-react/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

chore: skip changeset for private packages
  .changeset/config.json
Due: none

ci: don't persist credentials in actions/checkout
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/fresh.yml
Due: none

ci: setup CODEOWNERS file
  .github/CODEOWNERS
Due: none

ci: configure dependabot cooldown
  .github/dependabot.yml
Due: none

ci: explicitly set persist-credentials to true
  .github/workflows/publish.yml
Due: none

chore: upgrade vitest (resolves GHSA-g8mr-85jm-7xhm)
  packages/components-react/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

chore: remove workaround for npm audit endpoint (no longer needed with pnpm 11 as the default package manager)
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/publish.yml
Due: none

chore: migrate to pnpm 11
  .npmrc
  package.json
  pnpm-workspace.yaml
Due: npmPkgJsonLint

ci: setup zizmor
  .github/workflows/zizmor.yml
Due: none

Path conditions:
  npmPkgJsonLint: any of: package.json
  markdownlint: any of: *.md
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.css
