Repository nl-design-system/example: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint, markdownlint, eslint, stylelint

chore: create components workspace package
  components/package-lock.json
  components/package.json
  package.json
Due: npmPkgJsonLint

refactor: move Storybook to its own package
  .github/workflows/cd.yml
  .storybook/customTheme.js
  .storybook/main.js
  .storybook/preview-body.html
  package-lock.json
  package.json
  packages/storybook/.storybook/main.js
  packages/storybook/.storybook/manager.js
  packages/storybook/.storybook/preview.js
  packages/storybook/.storybook/theme.js
  packages/storybook/package.json
  src/static/storybook.css
Due: npmPkgJsonLint, eslint, stylelint

ci: update GitHub Actions scripts to Node.js 16 and npm 7
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  package.json
Due: npmPkgJsonLint

ci: allow lint tools to find no files yet in example repo
  package.json
Due: npmPkgJsonLint

chore: remove demo-empty-component/
  src/demo-empty-component/README.md
  src/demo-empty-component/component.css
  src/demo-empty-component/demo-empty.stories.mdx
  src/demo-empty-component/docs/accessibility-guidelines.md
  src/demo-empty-component/docs/content-guidelines.md
Due: markdownlint, stylelint

chore: remove generic documentation
  __docs__/accessibility.md
  __docs__/content-richtlijnen.md
  __docs__/form-patterns.md
  __stories__/1-content.stories.mdx
  __stories__/utils.js
Due: markdownlint, eslint

chore: update package-lock.json
  package-lock.json
Due: none

build: switch to npm workspaces
  lerna.json
  package-lock.json
  package.json
Due: npmPkgJsonLint

build: switch to semantic versioning with alpha/beta releases
  package.json
Due: npmPkgJsonLint

ci: enable Dependabot for root npm package
  .github/dependabot.yml
Due: none

ci: enable Dependabot for sub-packages
  .github/dependabot.yml
Due: none

ci: run Prettier formatting check in Continuous Integration
  package.json
Due: npmPkgJsonLint

fix: start Storybook from root of monorepo for mdx support
  .github/dependabot.yml
  .github/workflows/cd.yml
  .storybook/main.js
  .storybook/manager.js
  .storybook/preview.js
  .storybook/theme.js
  package-lock.json
  package.json
  packages/storybook/package.json
Due: npmPkgJsonLint, eslint

ci: automatically configure husky after `npm install` and `npm ci`
  package.json
Due: npmPkgJsonLint

build: migrate to husky 7
  .husky/.gitignore
  .husky/pre-commit
  .huskyrc.json
Due: none

remove mdx-embed Storybook addon
  .storybook/main.js
  components/link/stories.mdx
Due: eslint

upgrade Storybook 6.3
  .storybook/main.js
  package-lock.json
  package.json
Due: npmPkgJsonLint, eslint

build: use exact dependency versions
  .gitignore
  .npmpackagejsonlintrc.json
  .npmrc
  .nvmrc
  components/package-lock.json
  components/package.json
  documentation/package.json
  package-lock.json
  package.json
Due: npmPkgJsonLint

ci: latest continuous deployment scripts
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/continuous-deployment.yml
  lerna.json
  package.json
Due: npmPkgJsonLint

build(deps-dev): upgrade to Storybook 6.3.6
  components/button/bem.stories.mdx
  documentation/introduction.stories.mdx
  documentation/license.stories.mdx
  documentation/notice.stories.mdx
  package-lock.json
  package.json
Due: npmPkgJsonLint

feat: replace example link component with button web component
  components/button/README.md
  components/button/bem.scss
  components/button/bem.stories.mdx
  components/button/stencil.stories.mdx
  components/button/stencil.tsx
  components/link/README.md
  components/link/docs/accessibility-guidelines.md
  components/link/docs/content-guidelines.md
  components/link/index.css
  components/link/stories.mdx
Due: markdownlint, eslint, stylelint

feat: design tokens package
  package-lock.json
  proprietary/design-tokens/LICENSE.md
  proprietary/design-tokens/package.json
  proprietary/design-tokens/src/brand/example/color.style-dictionary.json
  proprietary/design-tokens/src/common/example/focus.style-dictionary.json
  proprietary/design-tokens/src/components/example/link.style-dictionary.json
  proprietary/design-tokens/style-dictionary.config.json
  proprietary/static/brand-design-token.css
  proprietary/static/component-design-token.css
Due: npmPkgJsonLint, markdownlint, stylelint

chore: clean up Storybook config
  .storybook/main.js
  packages/storybook/config/main.js
  packages/storybook/config/manager.js
  packages/storybook/config/preview.js
  packages/storybook/config/theme.js
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint, eslint

build(deps-dev): upgrade more packages
  package-lock.json
  package.json
  packages/web-components-react/package.json
  packages/web-components-stencil/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint

stencil
  package-lock.json
  packages/web-components-stencil/package.json
Due: npmPkgJsonLint

stencil build order
  package-lock.json
  packages/web-components-react/package.json
Due: npmPkgJsonLint

config for stencil
  components/.gitignore
  components/tsconfig.json
  packages/web-components-react/.gitignore
  packages/web-components-react/src/index.ts
  packages/web-components-react/tsconfig.json
  packages/web-components-stencil/.gitignore
  packages/web-components-stencil/stencil.config.ts
  packages/web-components-stencil/tsconfig.json
Due: eslint

ci: use latest lint settings
  .eslintignore
  .eslintrc.json
  .prettierignore
  .prettierrc.json
  package-lock.json
  package.json
Due: npmPkgJsonLint

stencil react
  package-lock.json
  packages/web-components-react/package.json
Due: npmPkgJsonLint

build(deps-dev): remove unused packages
  package-lock.json
  packages/web-components-react/package.json
Due: npmPkgJsonLint

ci: limit Dependabot updates
  .github/dependabot.yml
Due: none

build(deps-dev): upgrade to TypeScript 4.1
  package-lock.json
  packages/web-components-react/package.json
Due: npmPkgJsonLint

Path conditions:
  npmPkgJsonLint: any of: package.json
  markdownlint: any of: *.md
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.css
