Repository nl-design-system/example: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint, markdownlint, eslint, stylelint

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint",
  "*.md": "markdownlint",
  "*.{js,jsx,ts,tsx}": "eslint",
  "*.css": "stylelint"
}

ci: change dependabot review team
  .github/dependabot.yml
Due: none

chore: use pnpm everywhere
  .github/workflows/continuous-deployment.yml
  .npmrc
  package.json
  packages/components-react/package.json
  packages/web-components-stencil/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint

build: bump patch versions
  package.json
  packages/components-react/package.json
  packages/storybook/package.json
  packages/web-components-react/package.json
  packages/web-components-stencil/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

build: remove stylelint-config-prettier
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

build: remove @types/date-fns
  packages/components-react/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

Deploying to gh-pages from @ nl-design-system/example@5efe3dea6ce4d78ca9e0ad439d3a1ee3944358f4 🚀
  assets/Color-6VNJS4EI-4HOIp4C0.js
  assets/Color-6VNJS4EI-oLtILHez.js
  assets/DocsRenderer-NNNQARDV-ffNGSVEv.js
  assets/DocsRenderer-NNNQARDV-pX_P8dan.js
  assets/WithTooltip-V3YHNWJZ-RjOvDNtk.js
  assets/WithTooltip-V3YHNWJZ-jdJo6UGa.js
  assets/chunk-HLWAVYOI-vq97ugoU.js
  assets/example-button.entry-jUInsC8I.js
  assets/example-button.entry-u9PWMqlv.js
  assets/formatter-SWP5E3XI-nu6M7vAX.js
  assets/iframe-lTtUwlWs.js
  assets/iframe-tqFGKMuc.js
  assets/index-4UXiLcy0.js
  assets/index-BxL6228P.js
  assets/index-LoCCyZqz.js
  assets/introduction.stories-lpSX2QeF.js
  assets/license.stories-ONLOY8_M.js
  assets/notice.stories-tCcFZPT6.js
  assets/preview-2I90dIT9.js
  assets/preview-FHjKcVYU.js
  assets/preview-VrrZnbMS.js
  assets/preview-w57Wimd6.js
  assets/react-button.stories-l14cIHos.js
  assets/react-button.stories-mJrWCaP4.js
  assets/syntaxhighlighter-V7JZZA35-ntY94tKc.js
  assets/syntaxhighlighter-V7JZZA35-pckFp2Fg.js
  iframe.html
  index.html
  project.json
  sb-addons/viewport-2/manager-bundle.js
  sb-addons/viewport-2/manager-bundle.js.LEGAL.txt
  sb-manager/chunk-6ZZ2M5VW.js
  sb-manager/index.js
  sb-manager/runtime.js
  sb-preview/runtime.js
Due: eslint

build: add missing postcss peer dependency
  packages/components-react/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

build: bump minor versions
  package.json
  packages/components-react/package.json
  packages/storybook/package.json
  packages/web-components-react/package.json
  packages/web-components-stencil/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

Deploying to gh-pages from @ nl-design-system/example@adb17debb80529fb32042c3e6fa5e9d70ff3e5eb 🚀
  assets/Color-6VNJS4EI-4HOIp4C0.js
  assets/Color-6VNJS4EI-b9RD21gY.js
  assets/DocsRenderer-NNNQARDV-Uhlov8lE.js
  assets/DocsRenderer-NNNQARDV-pX_P8dan.js
  assets/WithTooltip-V3YHNWJZ-jdJo6UGa.js
  assets/WithTooltip-V3YHNWJZ-sqOIBtb3.js
  assets/chunk-HLWAVYOI-_6H1NR1i.js
  assets/chunk-HLWAVYOI-vq97ugoU.js
  assets/example-button.entry-YgV1aH4J.js
  assets/example-button.entry-u9PWMqlv.js
  assets/formatter-SWP5E3XI-gN77QkRc.js
  assets/iframe-2ik1Hl5h.js
  assets/iframe-tqFGKMuc.js
  assets/introduction.stories-nuRvaghH.js
  assets/license.stories-OQvC9Cun.js
  assets/notice.stories-qVuH4Zuo.js
  assets/preview-2I90dIT9.js
  assets/preview-Exa8foUH.js
  assets/preview-FHjKcVYU.js
  assets/preview-cTZS0ljm.js
  assets/syntaxhighlighter-V7JZZA35-lQrCE5XI.js
  assets/syntaxhighlighter-V7JZZA35-ntY94tKc.js
  iframe.html
  project.json
  sb-manager/chunk-7DVJUQPU.js
  sb-manager/index.js
  sb-manager/runtime.js
Due: eslint

fix: update email address
  CODE_OF_CONDUCT.nl.md
Due: markdownlint

fix: update email address
  packages/storybook/src/documentation/introduction.md
Due: markdownlint

fix: update email address
  CODE_OF_CONDUCT.md
Due: markdownlint

Deploying to gh-pages from @ nl-design-system/example@9f865032594f7d748708a19873fc982cba7bc66d 🚀
  project.json
Due: none

Deploying to gh-pages from @ nl-design-system/example@10e901f97c5eda6818f936788f340e7dd687637f 🚀
  project.json
Due: none

Deploying to gh-pages from @ nl-design-system/example@60b9c5d5f641459ba0ebf951e240dd739470be86 🚀
  assets/Color-6VNJS4EI-CzH9NXvj.js
  assets/Color-6VNJS4EI-b9RD21gY.js
  assets/DocsRenderer-NNNQARDV-Uhlov8lE.js
  assets/DocsRenderer-NNNQARDV-Yeyfi_JP.js
  assets/WithTooltip-V3YHNWJZ-5UfsBVUc.js
  assets/WithTooltip-V3YHNWJZ-sqOIBtb3.js
  assets/chunk-HLWAVYOI-avBRalCR.js
  assets/example-button.entry-QxSHoaCK.js
  assets/example-button.entry-YgV1aH4J.js
  assets/formatter-SWP5E3XI-4anIcMBB.js
  assets/iframe-2ik1Hl5h.js
  assets/iframe-aebdbsET.js
  assets/introduction.stories-sTb_ty4k.js
  assets/license.stories-udVIcddB.js
  assets/notice.stories-7e356TbH.js
  assets/preview-A5-I0-Lu.js
  assets/preview-Exa8foUH.js
  assets/preview-bE7vHsge.js
  assets/preview-cTZS0ljm.js
  assets/syntaxhighlighter-V7JZZA35-GVdrmqJL.js
  assets/syntaxhighlighter-V7JZZA35-lQrCE5XI.js
  iframe.html
  project.json
Due: eslint

chore: remove LICENSE.txt
  LICENSE.txt
Due: none

Deploying to gh-pages from @ nl-design-system/example@548c7ef1ef7897033bf876a5fcdb637218c7f4d6 🚀
  project.json
Due: none

build: install minor updates
  package.json
  packages/components-react/package.json
  packages/storybook/package.json
  packages/web-components-react/package.json
  packages/web-components-stencil/package.json
  pnpm-lock.yaml
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint

build: install major versions
  package.json
  packages/components-react/package.json
  packages/storybook/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

chore: migrate from Husky 8 to Husky 9
  .husky/pre-commit
  package.json
Due: npmPkgJsonLint

Deploying to gh-pages from @ nl-design-system/example@099d6db2b5515047956aa3cae92d621ff0972541 🚀
  assets/Color-6VNJS4EI-4ZTjcM0w.js
  assets/Color-6VNJS4EI-CzH9NXvj.js
  assets/DocsRenderer-NNNQARDV-3GHa080E.js
  assets/DocsRenderer-NNNQARDV-Yeyfi_JP.js
  assets/WithTooltip-V3YHNWJZ-5UfsBVUc.js
  assets/WithTooltip-V3YHNWJZ-OiQj9dO0.js
  assets/chunk-HLWAVYOI-adL48SNo.js
  assets/entry-preview-docs-b-pkkYc7.js
  assets/example-button.entry-7tAKoYt8.js
  assets/example-button.entry-QxSHoaCK.js
  assets/formatter-SWP5E3XI-mJcFXANy.js
  assets/iframe-9i3-IYFg.js
  assets/iframe-aebdbsET.js
  assets/introduction.stories-pQllYpD4.js
  assets/license.stories--rbWcciJ.js
  assets/notice.stories-SYaCA4Ws.js
  assets/preview-A5-I0-Lu.js
  assets/preview-bE7vHsge.js
  assets/preview-iynejtYH.js
  assets/preview-kDVTY3VX.js
  assets/syntaxhighlighter-V7JZZA35-12vHpvGm.js
  assets/syntaxhighlighter-V7JZZA35-GVdrmqJL.js
  iframe.html
  project.json
  sb-manager/chunk-NMB3SATH.js
  sb-manager/index.js
  sb-manager/runtime.js
  sb-preview/runtime.js
Due: eslint

Deploying to gh-pages from @ nl-design-system/example@036a20bb29357e030f5c1a48b4daf9f99d176b8b 🚀
  project.json
Due: none

build: remove unused `date-fns` and `lodash` dependencies
  packages/components-react/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

Deploying to gh-pages from @ nl-design-system/example@d15047970e80f06214ca8e412b94631b2291e36d 🚀
  project.json
Due: none
