Repository nl-design-system/example: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint, markdownlint, eslint, stylelint

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint",
  "*.md": "markdownlint",
  "*.{js,jsx,ts,tsx}": "eslint",
  "*.css": "stylelint"
}

feat: add devNotes to form page
  apps/next/app/(default)/form/form.css
  apps/next/app/(default)/form/page.tsx
  apps/next/components/Checkbox/Checkbox.tsx
  apps/next/components/RadioGroup/RadioGroup.tsx
  apps/next/components/Switch/Switch.tsx
  apps/next/components/TextArea/TextArea.tsx
  apps/next/components/TextInput/TextInput.tsx
Due: eslint, stylelint

build: restore pnpm pack/pnpm publish behavior to pre-pnpm@11.13 behavior
  .npmignore
Due: none

Upgrade to changesets v3 (and changesets/action@v2)
  .changeset/config.json
  .github/workflows/publish.yml
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

chore: upgrade to changesets v3 (and changesets/action@v2)
  .changeset/config.json
  .github/workflows/publish.yml
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

feat: add build:next script
  package.json
Due: npmPkgJsonLint

feat: add dummy form warning alert
  apps/next/app/(default)/form/form.css
  apps/next/app/(default)/form/page.tsx
Due: eslint, stylelint

fix: add missing dependencies
  apps/next/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

build: pnpm audit fix
  apps/next/package.json
  packages/components-react/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: npmPkgJsonLint

feat: add backtick with typing support in CodeBlock component
  apps/next/app/(default)/page.tsx
  apps/next/components/CodeBlock/CodeBlock.tsx
  apps/next/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint, eslint

fix: replace utrecht css-module with non-css-module variant to render css with ssr correctly
  apps/next/components/OrderedList/OrderedList.tsx
  apps/next/components/UnorderedList/UnorderedList.tsx
Due: eslint

add vercel.json config
  apps/next/vercel.json
Due: none

chore: update next package
  apps/next/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

chore: update next package
  packages/components-react/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

feat: add static generation next example
  .gitignore
  apps/next/next.config.ts
  apps/next/package.json
Due: npmPkgJsonLint, eslint

fix: add cleanUrls to fix routing
  apps/next/vercel.json
Due: none

chore: override shell-quote to resolve GHSA-pqg4-j6r4-53mv
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: upgrade next to resolve GHSA-p293-qw3h-jr36, GHSA-2xp9-vwfh-vxw4 and GHSA-vcvr-r3jv-pc5j
  packages/components-react/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

chore: upgrade pnpm to 11.28.4
  package.json
Due: npmPkgJsonLint
