Repository nl-design-system/example: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint, markdownlint, eslint, stylelint

chore: remove unused .htmlvalidate.json
  .htmlvalidate.json
Due: none

chore: replace jest with vitest
  package.json
  packages/components-react/.eslintrc.json
  packages/components-react/jest.config.mjs
  packages/components-react/package.json
  packages/components-react/src/Button.test.tsx
  packages/components-react/tsconfig.json
  packages/components-react/tsconfig.test.json
  packages/components-react/vitest.config.ts
  packages/web-components-stencil/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint, eslint

refactor: fresh workflow
  .github/workflows/fresh.yml
Due: none

ci: update ESLint to v9
  .eslintignore
  .eslintrc.js.json
  .eslintrc.json
  .eslintrc.react.json
  eslint.config.mjs
  npmpackagejsonlint.config.cjs
  package.json
  packages/components-react/rollup.config.mjs
  packages/components-react/vite.config.ts
  packages/storybook/config/main.ts
  packages/storybook/config/preview.ts
  packages/storybook/src/css-button.stories.tsx
  packages/storybook/src/react-button.stories.tsx
  packages/storybook/src/web-component-button.stories.tsx
  packages/web-components-stencil/src/button/stencil.tsx
  packages/web-components-stencil/stencil.config.ts
  pnpm-lock.yaml
Due: npmPkgJsonLint, eslint

fix: npm-check-updates major config
  .ncurc.major.cjs
Due: none

chore: update dependabot config
  .github/dependabot.yml
Due: none

Create CODEOWNERS
  .github/CODEOWNERS
Due: none

chore: add .github/CODEOWNERS
  .github/CODEOWNERS
Due: none

chore: update dependabot config
  .github/CODEOWNERS
  .github/dependabot.yml
Due: none

chore: packagemanager
  .npmrc
  package.json
  pnpm-workspace.yaml
Due: npmPkgJsonLint

chore: remove npm-run-all
  .github/workflows/fresh.md
  .prettierignore
  eslint.config.mjs
  package.json
  packages/components-react/package.json
  packages/web-components-stencil/package.json
  pnpm-lock.yaml
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint, markdownlint

chore: dependencies
  .ncurc.major.cjs
  eslint.config.mjs
  npmpackagejsonlint.config.cjs
  package.json
  packages/components-react/package.json
  packages/storybook/package.json
  packages/web-components-react/package.json
  packages/web-components-stencil/package.json
  packages/web-components-stencil/stencil.config.ts
  pnpm-lock.yaml
Due: npmPkgJsonLint, eslint

chore: fix spelling mistake
  README.md
Due: markdownlint

chore: update package.json#packageManager
  .npmrc
  package.json
  pnpm-workspace.yaml
Due: npmPkgJsonLint

feat: improve re-usability of Prettier configs
  .prettierignore
Due: none

chore: improve prettier ignore
  .prettierignore
Due: none

docs: document .npmrc
  .npmrc
  pnpm-workspace.yaml
Due: none

chore: improve pnpm settings
  .npmrc
  pnpm-workspace.yaml
Due: none

chore: add all @nl-design-system-* scopes
  pnpm-workspace.yaml
Due: none

build(deps): update to npm-check-updates@19.0.0
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

build: configure a cooldown of 1 day for npm-check-updates
  .ncurc.patch.cjs
Due: none

build: add a note to keep minimumReleaseAge in sync with ncu cooldown
  pnpm-workspace.yaml
Due: none

Path conditions:
  npmPkgJsonLint: any of: package.json
  markdownlint: any of: *.md
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.css
