Repository nl-design-system/example: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint, markdownlint, eslint, stylelint

chore: dependabot configuration
  .github/dependabot.yml
Due: none

build: patch round 2024-09
  package.json
  packages/components-react/package.json
  packages/storybook/package.json
  packages/web-components-react/.gitignore
  packages/web-components-react/package.json
  packages/web-components-react/src/index.ts
  packages/web-components-react/tsconfig.json
  packages/web-components-stencil/package.json
  packages/web-components-stencil/stencil.config.ts
  pnpm-lock.yaml
Due: npmPkgJsonLint, eslint

build: pin @types/node
  .github/dependabot.yml
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

chore: add @types/node to .ncurc.major.cjs
  .ncurc.major.cjs
Due: none

chore: update package.json#packageManager
  package.json
Due: npmPkgJsonLint

fix: dependabot.yml typo
  .github/dependabot.yml
Due: none

chore: update Node.js
  .nvmrc
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

fix: broaden package.json#engines.node range
  package.json
Due: npmPkgJsonLint

chore: dependencies
  .ncurc.major.cjs
  package.json
  packages/components-react/package.json
  packages/storybook/package.json
  packages/web-components-react/package.json
  packages/web-components-stencil/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

feat: add new workflow
  .github/workflows/fresh.md
  .github/workflows/fresh.yml
Due: markdownlint

fix: typo
  .github/workflows/fresh.yml
Due: none

fix: assignee
  .github/workflows/fresh.yml
Due: none

fix: date locale
  .github/workflows/fresh.yml
Due: none

chore: fix filenames of preview.ts in README
  README.md
Due: markdownlint

chore: fix filenames of preview.ts in README (#824)
  README.md
Due: markdownlint

chore: dependencies
  .github/dependabot.yml
  package.json
  packages/components-react/package.json
  packages/storybook/package.json
  packages/web-components-react/package.json
  packages/web-components-stencil/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

refactor: fresh workflow
  .github/workflows/fresh.yml
Due: none

ci: split workflows
  .github/workflows/ci.yml
  .github/workflows/continuous-deployment.yml
  .github/workflows/deploy.yml
  .github/workflows/publish.yml
  package.json
Due: npmPkgJsonLint

chore: convert config files to ESM
  lint-staged.config.cjs
  lint-staged.config.mjs
  package.json
  pnpm-lock.yaml
  prettier.config.cjs
  prettier.config.mjs
Due: npmPkgJsonLint

chore: bump pnpm version
  package.json
Due: npmPkgJsonLint

chore: bump dependencies
  package.json
  packages/components-react/package.json
  packages/storybook/package.json
  packages/web-components-react/package.json
  packages/web-components-stencil/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

chore: remove unused .htmlvalidate.json
  .htmlvalidate.json
Due: none

Path conditions:
  npmPkgJsonLint: any of: package.json
  markdownlint: any of: *.md
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.css
