Repository nl-design-system/example: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint, markdownlint, eslint, stylelint

chore: remove unnecessary option
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/publish.yml
Due: none

chore: add NL Design System to trusted packages
  pnpm-workspace.yaml
Due: none

ci: enable pnpm audit for critical issues and show a link for more information
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/publish.yml
Due: none

chore: upgrade next
  packages/components-react/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

chore: update Node.js range from 20-22 to 22-24
  package.json
Due: npmPkgJsonLint

chore: use node 24
  .nvmrc
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

chore: update example package to use @types/node@24
  packages/web-components-react/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

chore: remove changeset (this is a template folder, and changesets are not used)
  .changeset/six-paths-speak.md
Due: markdownlint

chore: remove support for node 22; allow node 25
  package.json
Due: npmPkgJsonLint

chore: upgrade to pnpm@10.27.0
  package.json
Due: npmPkgJsonLint

chore: set minimum version of pnpm to 10.17
  package.json
Due: npmPkgJsonLint

chore: upgrade to pnpm@10.28.1
  package.json
Due: npmPkgJsonLint

chore: upgrade dependencies (patch range)
  package.json
  packages/components-react/package.json
  packages/storybook/package.json
  packages/web-components-react/package.json
  packages/web-components-stencil/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

chore: upgrade dependencies (minor range)
  package.json
  packages/components-react/package.json
  packages/storybook/package.json
  packages/web-components-react/package.json
  packages/web-components-stencil/package.json
  pnpm-lock.yaml
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint

chore: upgrade to pnpm@10.28.2
  package.json
Due: npmPkgJsonLint

Set up design-token directory
  packages/start-design-tokens/figma/start.tokens.json
Due: none

First JSON from Figma
  packages/start-design-tokens/figma/start.tokens.json
Due: none

basis.text.font-family.default aangepast naar Lato font family
  packages/start-design-tokens/figma/start.tokens.json
Due: none

chore: upgrade stylelint to 17
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

chore: kernteam@ naar info@
  CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.nl.md
  packages/storybook/src/documentation/introduction.md
Due: markdownlint

fix: update pnpm versie
  package.json
Due: npmPkgJsonLint

chore: update pnpm versie & kernteam@ naar info@ (#930)
  CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.nl.md
  package.json
  packages/storybook/src/documentation/introduction.md
Due: npmPkgJsonLint, markdownlint

chore: upgrade react to 19
  packages/components-react/package.json
  packages/storybook/package.json
  packages/web-components-react/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

fix: update tsconfig after storybook upgrade
  packages/storybook/tsconfig.json
Due: none

Path conditions:
  npmPkgJsonLint: any of: package.json
  markdownlint: any of: *.md
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.css
