Repository nl-design-system/example: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint, markdownlint, eslint, stylelint

config: prevent Storybook watcher detect changes in dist/
  .storybook/main.js
Due: eslint

ci: configure line endings for SVG files too
  .editorconfig
Due: none

docs: boundaries between open source and proprietary brand identity
  .storybook/preview-body.html
  NOTICE.md
  README.md
  __stories__/2-permission.stories.mdx
  package.json
  src/brand.css
  src/proprietary/LICENSE.md
  src/proprietary/static/brand-design-token.css
  src/proprietary/static/component-design-token.css
  src/static/storybook.css
Due: npmPkgJsonLint, markdownlint, stylelint

ci: switch GitHub Actions from `yarn` to `npm install`
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

ci: minor and patch dependency updates
  package-lock.json
  package.json
Due: npmPkgJsonLint

ci: update linting settings with latest from other projects
  .gitignore
  .lintstagedrc.json
  .npmpackagejsonlintrc.json
  .prettierignore
  .prettierrc.json
  .stylelintignore
  .stylelintrc.json
Due: none

chore: sort npmpackagejsonlintrc settings
  .npmpackagejsonlintrc.json
Due: none

chore: rename npm organisation to `@example`
  package-lock.json
  package.json
Due: npmPkgJsonLint

chore: rename `demo` prefix to `example`
  src/demo-link-component/style.css
  src/proprietary/static/component-design-token.css
Due: stylelint

fix: npm-run-all compatibility with Windows
  package.json
Due: npmPkgJsonLint

docs: required steps to customize project after using template
  README.md
Due: markdownlint

ci: update GitHub Actions scripts to Node.js 16 and npm 7
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  package.json
Due: npmPkgJsonLint

build: switch to npm workspaces
  lerna.json
  package-lock.json
  package.json
Due: npmPkgJsonLint

build: switch to semantic versioning with alpha/beta releases
  package.json
Due: npmPkgJsonLint

chore: remove generic documentation
  __docs__/accessibility.md
  __docs__/content-richtlijnen.md
  __docs__/form-patterns.md
  __stories__/1-content.stories.mdx
  __stories__/utils.js
Due: markdownlint, eslint

chore: create proprietary/ workspace directory
  proprietary/.npmpackagejsonlintrc.json
  proprietary/LICENSE.md
Due: markdownlint

chore: move documentation stories to documentation/ package
  __stories__/0-introduction.stories.mdx
  __stories__/2-permission.stories.mdx
  documentation/introduction.md
  documentation/introduction.stories.mdx
  documentation/license.stories.mdx
  documentation/notice.stories.mdx
  documentation/package.json
Due: npmPkgJsonLint, markdownlint

chore: remove demo-empty-component/
  src/demo-empty-component/README.md
  src/demo-empty-component/component.css
  src/demo-empty-component/demo-empty.stories.mdx
  src/demo-empty-component/docs/accessibility-guidelines.md
  src/demo-empty-component/docs/content-guidelines.md
Due: markdownlint, stylelint

chore: rename demo-link-component/ to link/ in components workspace
  components/link/README.md
  components/link/docs/accessibility-guidelines.md
  components/link/docs/content-guidelines.md
  components/link/index.css
  components/link/stories.mdx
Due: markdownlint, stylelint

refactor: move Storybook to its own package
  .github/workflows/cd.yml
  .storybook/customTheme.js
  .storybook/main.js
  .storybook/preview-body.html
  package-lock.json
  package.json
  packages/storybook/.storybook/main.js
  packages/storybook/.storybook/manager.js
  packages/storybook/.storybook/preview.js
  packages/storybook/.storybook/theme.js
  packages/storybook/package.json
  src/static/storybook.css
Due: npmPkgJsonLint, eslint, stylelint

chore: remove CSS design tokens
  proprietary/static/brand-design-token.css
  proprietary/static/component-design-token.css
Due: stylelint

docs: rephrase to avoid forks referring to itself as "template"
  README.md
  package.json
Due: npmPkgJsonLint, markdownlint

chore: create components workspace package
  components/package-lock.json
  components/package.json
  package.json
Due: npmPkgJsonLint

ci: allow lint tools to find no files yet in example repo
  package.json
Due: npmPkgJsonLint

chore: update package-lock.json
  package-lock.json
Due: none

Path conditions:
  npmPkgJsonLint: any of: package.json
  markdownlint: any of: *.md
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.css
