Repository nl-design-system/example: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint, markdownlint, eslint, stylelint

refactor: write stories in modern way
  packages/storybook/config/preview.tsx
  packages/storybook/package.json
  packages/storybook/src/css-button.stories.tsx
  packages/storybook/src/markdown.d.ts
  packages/storybook/src/react-button.stories.tsx
  packages/storybook/src/web-component-button.stories.tsx
  packages/storybook/tsconfig.json
  pnpm-lock.yaml
  proprietary/font/src/index.scss
Due: npmPkgJsonLint, eslint

ci: upgrade stylelint config, remove depracted rules
  .stylelintrc.json
Due: none

ci: add lint-build step
  .github/workflows/continuous-deployment.yml
  package.json
  packages/storybook/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

Deploying to gh-pages from @ nl-design-system/example@a2528ca13b1f51ff226381d319291f11d4fdcc12 🚀
  assets/Color-6VNJS4EI-W72nrEqy.js
  assets/Color-6VNJS4EI-oLtILHez.js
  assets/DocsRenderer-NNNQARDV-Rewg31hw.js
  assets/DocsRenderer-NNNQARDV-ffNGSVEv.js
  assets/WithTooltip-V3YHNWJZ-2sNAntMD.js
  assets/WithTooltip-V3YHNWJZ-RjOvDNtk.js
  assets/bem.stories-2pmQOLvg.js
  assets/button.stories-D4kUrk4E.js
  assets/chunk-HLWAVYOI-5W2qr2S7.js
  assets/chunk-HLWAVYOI-YO8l_QRs.js
  assets/css-button.stories-3uV0WTWf.js
  assets/entry-preview-docs-sd7ccKF1.js
  assets/example-button.entry-eMXHruzn.js
  assets/example-button.entry-jUInsC8I.js
  assets/formatter-SWP5E3XI-yLzDZFvh.js
  assets/iframe-lTtUwlWs.js
  assets/iframe-rO4zF3Jx.js
  assets/index-83LIMwj7.js
  assets/index-vFwIL0W8.js
  assets/introduction.stories-F2JNus3n.js
  assets/license.stories-WHP1gckx.js
  assets/notice.stories-VYI5Pgom.js
  assets/preview-A3mtUTvj.js
  assets/preview-KQSNr6xP.js
  assets/preview-VrrZnbMS.js
  assets/preview-w57Wimd6.js
  assets/react-button.stories-l14cIHos.js
  assets/stencil.stories-qxms8nZv.js
  assets/syntaxhighlighter-V7JZZA35-0Z4lKqq3.js
  assets/syntaxhighlighter-V7JZZA35-pckFp2Fg.js
  assets/web-component-button.stories-rS6g5rL2.js
  iframe.html
  index.json
  project.json
  stories.json
Due: eslint

build: install `@lerna-lite/version`, missing dependency
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

build: install missing `@lerna-lite/publish` and fix npm publication
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

Deploying to gh-pages from @ nl-design-system/example@d2c21ab8ea4da804f62e15ad66d20227eabb9f0d 🚀
  project.json
Due: none

docs: improve getting started documentation
  README.md
Due: markdownlint

build: install patch versions from 2024-01-06
  package.json
  packages/components-css/package.json
  packages/components-react/package.json
  packages/storybook/package.json
  packages/web-components-react/package.json
  packages/web-components-stencil/package.json
  pnpm-lock.yaml
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint

build: install minor versions from 2024-01-06
  package.json
  packages/components-react/package.json
  packages/web-components-stencil/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

ci: remove stylelint rules that Prettier is responsible for
  .stylelintrc.json
Due: none

build: upgrade to major versions of 2024-01-06
  package.json
  packages/components-react/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

build: avoid extra lockfiles in Git
  .gitignore
Due: none

build: prefer exact dependencies automatically
  .npmrc
Due: none

build: improve Stencil config to avoid warnings
  packages/web-components-stencil/stencil.config.ts
  packages/web-components-stencil/tsconfig.jest.json
  packages/web-components-stencil/tsconfig.json
  tsconfig.json
Due: eslint

ci: configure Dependabot to do a monthly patch round
  .github/dependabot.yml
Due: none

ci: upgrade to pnpm 8
  .github/workflows/continuous-deployment.yml
  package.json
Due: npmPkgJsonLint

ci: use `skip ci` setting
  lerna.json
Due: none

build: remove unused dependencies
  .ncurc.major.js
  packages/components-css/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint, eslint

fixup! docs: improve getting started documentation
  README.md
Due: markdownlint

Deploying to gh-pages from @ nl-design-system/example@97ef24dd260c1192a9f460ea92fc0b047ac84a04 🚀
  assets/Color-6VNJS4EI-4HOIp4C0.js
  assets/Color-6VNJS4EI-oLtILHez.js
  assets/DocsRenderer-NNNQARDV-ffNGSVEv.js
  assets/DocsRenderer-NNNQARDV-pX_P8dan.js
  assets/WithTooltip-V3YHNWJZ-RjOvDNtk.js
  assets/WithTooltip-V3YHNWJZ-jdJo6UGa.js
  assets/chunk-HLWAVYOI-vq97ugoU.js
  assets/example-button.entry-jUInsC8I.js
  assets/example-button.entry-u9PWMqlv.js
  assets/formatter-SWP5E3XI-nu6M7vAX.js
  assets/iframe-lTtUwlWs.js
  assets/iframe-tqFGKMuc.js
  assets/index-4UXiLcy0.js
  assets/index-BxL6228P.js
  assets/index-LoCCyZqz.js
  assets/introduction.stories-lpSX2QeF.js
  assets/license.stories-ONLOY8_M.js
  assets/notice.stories-tCcFZPT6.js
  assets/preview-2I90dIT9.js
  assets/preview-FHjKcVYU.js
  assets/preview-VrrZnbMS.js
  assets/preview-w57Wimd6.js
  assets/react-button.stories-l14cIHos.js
  assets/react-button.stories-mJrWCaP4.js
  assets/syntaxhighlighter-V7JZZA35-ntY94tKc.js
  assets/syntaxhighlighter-V7JZZA35-pckFp2Fg.js
  iframe.html
  index.html
  project.json
  sb-addons/viewport-2/manager-bundle.js
  sb-addons/viewport-2/manager-bundle.js.LEGAL.txt
  sb-manager/chunk-6ZZ2M5VW.js
  sb-manager/index.js
  sb-manager/runtime.js
  sb-preview/runtime.js
Due: eslint

Deploying to gh-pages from @ nl-design-system/example@a9c520b3e117bfc21aa0983909c78d7098b5859d 🚀
  assets/Color-6VNJS4EI-4HOIp4C0.js
  assets/Color-6VNJS4EI-oLtILHez.js
  assets/DocsRenderer-NNNQARDV-ffNGSVEv.js
  assets/DocsRenderer-NNNQARDV-pX_P8dan.js
  assets/WithTooltip-V3YHNWJZ-RjOvDNtk.js
  assets/WithTooltip-V3YHNWJZ-jdJo6UGa.js
  assets/chunk-HLWAVYOI-5W2qr2S7.js
  assets/example-button.entry-jUInsC8I.js
  assets/example-button.entry-u9PWMqlv.js
  assets/formatter-SWP5E3XI-yLzDZFvh.js
  assets/iframe-lTtUwlWs.js
  assets/iframe-tqFGKMuc.js
  assets/index-4UXiLcy0.js
  assets/index-BxL6228P.js
  assets/index-LoCCyZqz.js
  assets/introduction.stories-F2JNus3n.js
  assets/license.stories-WHP1gckx.js
  assets/notice.stories-VYI5Pgom.js
  assets/preview-2I90dIT9.js
  assets/preview-FHjKcVYU.js
  assets/preview-VrrZnbMS.js
  assets/preview-w57Wimd6.js
  assets/react-button.stories-l14cIHos.js
  assets/react-button.stories-mJrWCaP4.js
  assets/syntaxhighlighter-V7JZZA35-ntY94tKc.js
  assets/syntaxhighlighter-V7JZZA35-pckFp2Fg.js
  iframe.html
  index.html
  project.json
  sb-addons/viewport-2/manager-bundle.js
  sb-addons/viewport-2/manager-bundle.js.LEGAL.txt
  sb-manager/chunk-SYTOL66B.js
  sb-manager/index.js
  sb-manager/runtime.js
  sb-preview/runtime.js
Due: eslint

Path conditions:
  npmPkgJsonLint: any of: package.json
  markdownlint: any of: *.md
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.css
