Repository nl-design-system/example: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint, markdownlint, eslint, stylelint

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint",
  "*.md": "markdownlint",
  "*.{js,jsx,ts,tsx}": "eslint",
  "*.css": "stylelint"
}

chore: simplify npm-check-updates in scripts
  .ncurc.major.js
  .ncurc.minor.js
  .ncurc.patch.js
  package.json
Due: npmPkgJsonLint, eslint

chore: simplify npm-check-updates in scripts (#638)
  .ncurc.major.js
  .ncurc.minor.js
  .ncurc.patch.js
  package.json
Due: npmPkgJsonLint, eslint

Deploying to gh-pages from @ nl-design-system/example@d0c6b07939105643c500236411c833aed449632f 🚀
  project.json
Due: none

chore: remove pre- scripts
  .npmrc
  package.json
  packages/components-react/package.json
  packages/web-components-stencil/package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint

chore: add .nojekyll
  .nojekyll
Due: none

Deploying to gh-pages from @ nl-design-system/example@135125f226451628af16bb6f77e81ced7209d81c 🚀
  project.json
Due: none

Deploying to gh-pages from @ nl-design-system/example@0b3a45fc4834ee5cb29f1d90a90e59f487c03ddd 🚀
  project.json
Due: none

build: remove actions/cache dependency
  .github/workflows/continuous-deployment.yml
Due: none

build: install patch updates
  package.json
  packages/components-react/package.json
  packages/storybook/package.json
  packages/web-components-react/package.json
  packages/web-components-stencil/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

build: install minor updates
  package.json
  packages/components-react/package.json
  packages/storybook/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

build: install major updates
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

chore: rename .ncurc.*.js -> .ncurc.*.cjs
  .ncurc.major.cjs
  .ncurc.minor.cjs
  .ncurc.patch.cjs
  package.json
Due: npmPkgJsonLint

Deploying to gh-pages from @ nl-design-system/example@bd7d404c0b0ba07dc2a5c05a10bc9a94ab170efc 🚀
  project.json
Due: none

Deploying to gh-pages from @ nl-design-system/example@d61869df97c144057de150a5dc00adf524caa167 🚀
  project.json
Due: none

chore: remove node-sass-package-importer
  packages/web-components-stencil/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

chore: update ip from v2.0.0 to v2.0.1
  pnpm-lock.yaml
Due: none

chore: update follow-redirects 1.15.2 to 1.15.6
  pnpm-lock.yaml
Due: none

chore: lint .cjs files
  .husky/.gitignore
  .husky/pre-commit
  .lintstagedrc.json
  .prettierrc.json
  package.json
Due: npmPkgJsonLint

chore: remove GHA actions/cache dependency
  .github/workflows/continuous-deployment.yml
Due: none

chore: fix linting
  .husky/pre-commit
  .lintstagedrc.json
  package.json
Due: npmPkgJsonLint

build: install minor updates
  package.json
  packages/components-react/package.json
  packages/storybook/package.json
  packages/web-components-react/package.json
  packages/web-components-stencil/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

build: install major updates
  .ncurc.major.cjs
  packages/components-react/package.json
  packages/storybook/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

Deploying to gh-pages from @ nl-design-system/example@a073b9b1495ed5773bdc9d25d35aef35b8d171c8 🚀
  project.json
Due: none
